<div class="center hero-unit">
  <h1>Bem vindo à</h1>
  <h1>CENTRAL DA COPA</h1>

  <h2>
    Essa é a Central da Copa via Twitter.
    <a href="http://railstutorial.org/">Sob a moderação do Blog Doentes por Futebol.</a>
  </h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo-doentes.png", alt: "Rails"), 'http://www.doentesporfutebol.com.br' %>
